* {
  font-family: Lato;
  font-weight: 400;
}

.light {
  color: gray;
}

.dark {
  color: black;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.topic-div {
  padding-top: 15%;
}

.link-div {
  padding-top: 5%;
}

a {
  margin-right: 2%;
}